@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .wrapper {
      @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
    }
  }

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}
